<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo</title>
    <link rel="stylesheet" href="bulma/bulma.min.css">
  </head>
  {{!-- <body class="has-navbar-fixed-top"> --}}
  <body class="has-navbar-fixed-top">
    {{{body}}}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>ToDo</strong> by <a href="https://ortfolio-8c187.web.app">Alejandro Mili&aacute;n</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
