<section class="section is-medium">
       <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6">
                    <img src="/images/todo-logo.svg" alt="logo">
                </div>
                <div class="column is-6 box">
                    <form class="mx-2 my-2">
                        <p class="title pb-3 has-text-centered">Log into your account</p>
                        <div class="field">
                            <label class="label"  for="email">Email</label>
                            <div class="control">
                                <input class="input is-medium" type="email" placeholder="hello@example.com"
                                    autocomplete="username" required />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password</label>
                            <div class="control">
                                <input class="input is-medium" type="password" placeholder="**********"
                                    autocomplete="current-password" required />
                            </div>
                        </div>
                        <br>
                        <button class="button is-block is-fullwidth is-info is-medium" type="submit">
                            Log In
                        </button>
                        <br>
                        <p class="is-size-5 has-text-centered">New to ToDo? <a href="/signup">Sign Up</a></p>
                    </form>
                    <div class="subtitle has-text-centered">
                        <p> - or - </p>
                    </div>
                </div>
            </div>
       </div>
</section>
